body, html {
  padding:0;
  margin:0;
  text-align:center;
  line-height:18px;
}

body,p,td,form,input,h1,h2,h3,li {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
    font-size: 12px;
    color: #333; 
}

table#maintable{
  padding:5px;
  width:560px;
  margin:25px auto 0 auto; 
  text-align:left;
}

a, a:visited {
   color: #bd7e00; 
   text-decoration: none;
}

p.bodytext {
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    margin-left : -8px;
}
td {
   vertical-align: top;
   padding: 6px 5px 3px 5px;
   border-bottom: solid 1px #cccccc;
   border-right: solid 1px #cccccc;
   border-left: solid 1px #999999;
}

td.head {
  padding-bottom:30px;
  padding-left:0;
  padding-top:0;
  border: none;
}

td.topTitle {
  padding-bottom:0px;
  padding-left:0;
  padding-top:0;
  border: none;
}

td.titel {
  padding-bottom:10px;
  padding-left:0;
  padding-top:0;
  border-left: none;
  border-right:none;
}

td a {
   color:  #bd7e00;
   text-decoration: none;
}

td  a:visited {
   color: #bd7e00; 
   text-decoration: none;
}

td h1 {
   margin: 0px;
   font-size: 17px;
   font-weight: bold;
   color: #bd7e00;
}

tr.dunkel {
  background-color:#eff1f3;
}
tr.hell {
  background-color:transparent;
}

tr.kurstitel {
  background-color: #eff1f3;
}
h1#seitenTitel {
  color: #bd7e00;
}

td h2 {
   margin-top: 6px;
   margin-bottom: 6px;
   padding-top: 0px;
   padding-left: 6px;
   padding-right: 2px;
   font-size: 14px;
   font-weight: bold;
   color: #bd7e00;
}

td ul {
   margin-top: 0px;
   margin-left: 24px;
   margin-bottom: 0px;
   padding-top: 0px;
   padding-left: 0px;
   padding-right: 0px;
}
td.col1 {
   margin-top: 10px;
   margin-bottom: 2px;
   text-align: right;
   padding: 6px 5px 3px 5px;
   font-weight:bold;
   border-left: solid 1px #cccccc;
   border-right: none;
}

td dl, td ul, td p { 
   margin-top: 0px;
   margin-bottom: 4px;
}

td dl dd { 
   margin-left: 24px;
}

td dt { 
   margin-left: 0px;
   font-weight: bold;
}

td.footer { 
  padding-top: 15px;
  padding-left: 8px;
  border:none;
}

.efqm {
  margin-top:10px;
}
